::selection {
  background: #80CC33; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #80CC33; /* Gecko Browsers */
}

html, body {
	height: 100%;
 }

 a:link {
 	text-decoration: none;
 	color: black;
 }

 a:hover {
    background-color: #80CC33;
}

a:visited {
    color: black;
}

hr {
	background-color: #FF1D8E;
	color: #FF1D8E;
	border: 0 none;
	height: .15rem;
}

li{
  margin: 10px 0;
}

#home-intro {
	margin-top: 3rem;
	font-family: 'Lato', serif;
}

#intro {
	margin: 0 auto;
	width: 25%
}

#contact {
	margin: 0 auto;
	width: 25%;
}

.contact-item{
	padding-bottom: 1rem;
	padding-right: 2rem;
}

#me-circle {
	border-radius: 50%;
	width: 10rem;
	left: 50%;
	border: .5rem solid #FF1D8E;
}

.summary-body {
	width: 60%;
	margin-left: 20%;
	font-family: 'Lato', serif;
}

.standard-body {
	width: 80%;
	margin-left: 10%;
	font-family: 'Lato', sans-serif;
}

.summary {
	line-height: 3rem;
}

#resume {
	margin-top: 5rem;
	width: 100%;
}

.body-heading {
	margin: 0 auto;
}

.experience-card {
	height: 5rem;
}

.asset-circle {
	float: left;
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
}

.asset-list {
	margin-left: 2rem;
	margin-bottom: 2rem;
}

.asset-source {
	left: 1rem;
	position: relative;
	font-size: 1.25rem;
}

.right {
	float: right;
	position: relative;
}

.highlight-yel {
	background-color: #FFFF00;
}

.highlight-blu {
	background-color: #22B2DA;
}

.highlight-green {
	background-color: #80CC33;
}