* {
	font-family: 'Arvo', serif;
}

html, body {
	height: 100%;
 	width: 100%;
 }

 a:link {
 	text-decoration: none;
 	color: black;
 }

 a:hover {
    background-color: #4aa4ff;
} 

a:visited {
    color: black;
}

#home-intro {
	margin-top: 5rem;
	width: 100%;
}

#intro {
	margin: 0 auto;
	width: 25%
}

#contact {
	margin: 0 auto;
	width: 25%;
}

.contact-item{
	padding-bottom: 1rem;
	padding-right: 2rem;
}

#me-circle {
	border-radius: 50%;
	width: 10rem;
	border: .5rem solid #FF1D8E;
}

#resume {
	margin-left: 10%;
	margin-top: 5rem;
}

#r-heading {
	margin: 0 auto;
	width: 25%;
}

.highlight-yel { 
	background-color: #FFFF00; 
}

.highlight-blu {
	background-color: #4aa4ff;
}